// Quick fixes, put these somewhere meaningful
* {
  @include box-sizing(border-box);
}

body {
  background-color: $base-background-color;
}

.app-root {
  @include position(absolute, 0px 0px 0px 0px);
}

.stream-input-wrapper {
  margin: auto 100px;
}

.list-item {
  padding: 8px;
  margin: 3px 0;
  border: 1px solid $base-border-color;

  button {
    float: right;
  }
}

.new-thought-form {
  input[type='submit'] {
    &.loading {
      background-color: red;
    }
  }
}

// D#
.node circle {
opacity: .5;
}
.node text {
  font: 10px sans-serif;
  pointer-events: none;
}
path.link {
  fill: none;
  stroke: #101010;
  stroke-width: 2px;
}