// Quick fixes, put these somewhere meaningful
* {
  @include box-sizing(border-box);
}

body {
  background-color: $base-background-color;
}

.app-root {
  @include position(absolute, 0px 0px 0px 0px);
}

.list-wrapper {
  width: 400px;
  margin: 100px;
}

input[type='submit'] {
  &.loading {
    background-color: red;
  }
}